<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exchange Rates Application</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
    <header>
        <div class="jumbotron text-center">
            <h2 class="card-title h2">Exchange Rates Application</h2>
            <p class="blue-text my-4 font-weight-bold">Application comparing exchange rates</p>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 pb-2">
                    <p class="card-text">Application containing information about single currencies and currency
                        tables</p>
                </div>
            </div>
            <br>
            <a class="btn btn-success" href="/">Home</a>
            <a class="btn btn-success" href="/table/a">Currencies Table</a>
        </div>

    </header>

    <a class="btn btn-danger" href="/b/afn/last">Table B</a>
    <a class="btn btn-danger" href="/a/eur/last">Table A</a>

    <br>
    <br>
    <form th:object="${currencyDTO}">
        <h3>Select Currency</h3>
        <label class="form-inline">
            <a class="btn btn-secondary" href="/a/eur/last">EURO</a>&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/a/gbp/last">FUNT</a>&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/a/usd/last">DOLAR AM.</a>&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/a/huf/last">FORINT</a>&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/a/chf/last">FRANK</a>&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/a/UAH/last">HRYWNA</a>&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/a/rub/last">RUBEL</a>&nbsp;&nbsp;
            <select class="form-control">
                <option th:each="m : ${currencyDTO.getCodesAndNames()}">
                    <h4 th:text="${m.value + '  ' + m.key}"></h4>
                </option>
            </select>
            &nbsp;&nbsp;
        </label>
    </form>
    &nbsp;&nbsp;
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Currency</th>
            <th scope="col">Code</th>
            <th scope="col">No</th>
            <th scope="col">Effective Date</th>
            <th scope="col">Mid</th>
        </tr>
        </thead>
        <tr th:object="${currencyDTO}" th:each="rates: ${currencyDTO.getRates()}">
            <td th:text="${currencyDTO.getCurrency()}"></td>
            <td th:text="${currencyDTO.getCode()}"></td>
            <td th:text="${rates.getNo()}"></td>
            <td th:text="${rates.getEffectiveDate()}"></td>
            <td th:text="${rates.getMid()}"></td>
        </tr>
    </table>

</div> <!--container -->

</body>
</html>
