<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exchange Rates</title>
    <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>

<div class="container">

    <header>
        <div class="jumbotron text-center">
            <h2 class="card-title h2">Exchange Rates Application</h2>
            <p class="blue-text my-4 font-weight-bold">Application comparing exchange rates</p>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 pb-2">
                    <p class="card-text">Application containing information about single currencies and currency
                        tables</p>
                </div>
            </div>
            <br>
            <a class="btn btn-success" href="/">Home</a>
            <a class="btn btn-success" href="/a/eur/last">Single Currency</a>
        </div>

    </header>

    <a class="btn btn-danger" href="/table/b">Table B</a>
    <a class="btn btn-danger" href="/table/a">Table A</a>
    <br>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Table</th>
            <th scope="col">No</th>
            <th scope="col">Effective Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${tableCurrencyDTO.getTable()}"></td>
            <td th:text="${tableCurrencyDTO.getNo()}"></td>
            <td th:text="${tableCurrencyDTO.getEffectiveDate()}"></td>
        </tr>
        </tbody>
    </table>

    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Currency</th>
            <th scope="col">Code</th>
            <th scope="col">Mid</th>
        </tr>
        </thead>
        <tr th:object="${ratesList}" th:each="rates: ${ratesList}">
            <td th:text="${rates.getCurrency()}"></td>
            <td th:text="${rates.getCode()}"></td>
            <td th:text="${rates.getMid()}"></td>
        </tr>
    </table>
</div> <!-- container -->
</body>
</html>



